<ion-header>
 <ion-toolbar text-center class="title_noicon">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{'Card' | translate}}
    </ion-title>
  </ion-navbar>
 </ion-toolbar>
</ion-header>

<ion-content padding style="text-align: center;">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <button ion-button icon-only *ngIf="!exist" (click)="presentAlertPrompt2()">
    {{'Crea Patente' | translate}}
    <ion-icon name="ios-card"></ion-icon>
  </button>
  <form #patenteForm="ngForm" >
    <ion-card *ngIf="exist">
        <ion-list>
          <ion-item>
            <ion-label color="black">{{'NUMERO_PATENTE'|translate}} : </ion-label>
            <ion-input color="black" style="font-weight:bold;"  name="num_patente" [(ngModel)]="patente.num_patente" #num_patente="ngModel" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="black">{{'CATEGORIA'|translate}} :</ion-label>
            <ion-input color="black" style="font-weight:bold;"  name="categoria" [(ngModel)]="patente.categoria" #categoria="ngModel" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="black">{{'PUNTI'|translate}} : </ion-label>
            <ion-input color="black" style="font-weight:bold;"  name="punti" [(ngModel)]="patente.punti" #punti="ngModel" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="black">{{'SCADENZA'|translate}} : </ion-label>
            <ion-input color="black" style="font-weight:bold;"  name="scadenza" [(ngModel)]="patente.scadenza" #scadenza="ngModel" required></ion-input >
          </ion-item>
        </ion-list>
      </ion-card>
      <div text-center *ngIf="exist">
        <button ion-button class="login_button" default  (click)="salva(patenteForm)">
          {{'SAVE_BUTTON'|translate}}
        </button>

        <button ion-button class="login_button" default  (click)="elimina()">
          {{'DELETE_BUTTON'|translate}}
        </button>
      </div>
    </form>
</ion-content>
