<ion-header>
 <ion-toolbar text-center class="title_noicon">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{'Card' | translate}}
    </ion-title>
  </ion-navbar>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <button ion-button icon-only *ngIf="exist">
    {{'Crea Patente' | translate}}
    <ion-icon name="ios-person-add-outline"></ion-icon>
  </button>
  <ion-list *ngIf="!exist">
    <ion-item>
      <ion-label color="black">{{'Numero '|translate}} : <b>{{patente.num_patente.toUpperCase()}} </b> </ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="black">{{'Categoria '|translate}} : <b>{{patente.categoria.toUpperCase()}} </b> </ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="black">{{'Punti '|translate}} : <b>{{patente.punti}} </b> </ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="black">{{'Scadenza '|translate}} : <b>{{patente.scadenza}} </b> </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
