<ion-header>
  <ion-navbar>
    <ion-title>{{'Lista Interventi' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openIntervento()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="exist">
    <ion-list *ngFor="let intervento of interventi">
      <ion-item-sliding #sliding >
        <ion-item (click)="openIntervento(intervento)">
          <ion-icon name="ios-construct" item-start></ion-icon>
          <ion-label>{{intervento.descrizione_manutenzione}}</ion-label>
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item>
        <ion-item-options side="right" (click)="elimina(intervento, sliding)">
          <button ion-button color="primary" >
            <ion-icon name="trash"></ion-icon> {{'DELETE_BUTTON'|translate}}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="!exist" align-items-center>
    <div text-center>
      <ion-title>Nessun Intervento</ion-title>
      <button ion-button class="login_button" default  (click)="openIntervento()">
        {{'CREATE_BUTTON'|translate}}
      </button>
    </div>
  </ion-card>
</ion-content>
