page-contattaci {

    .my_text_area{
        border-style: solid;
        border-color: #dfdfdf;
        border-width: 0.5px;
        border-radius: 2px;
        height: 100px;
    }

    .center_button{
        text-align: center;
    }

    .oggetto{
        border:solid;
        border-width: 0.4px;
        border-radius: 1px;
    }

}
